<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vise - Manage Your Finances</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="\stylesheets\landing_style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</head>
<body>
    <div class="loading">
        <span class="letter">w</span>
        <span class="letter">i</span>
        <span class="letter">s</span>
        <span class="letter">p.</span>
    </div>
    <div class="container">
        <header>
            <div class="logo">
                <h1>wisp.</h1>
            </div>
        </header>
        
        <main>
            <section class="hero">
                <h1 class="hero-title" style="letter-spacing: -2px;">Set it.Forget it. <br>We'll <span style="color: rgb(247, 190, 121);">ping</span> for. you</h1>
                <p class="hero-text">Build, schedule, and automate your <br>notifications — without writing complex scripts.</p>
                <div class="cta-buttons">
                    <button class="btn btn-primary" onclick="window.location.href='/create';">Join.</button>
                    <button class="btn btn-secondary" onclick="window.location.href='/dashboard';">Go to Dashboard.</button>
                </div>
                
            </section>
        </main>
        
    </div>
    




    <script>
        gsap.to(".letter", {
    opacity: 1,
    y: 0,
    stagger: 0.05,
    duration: 0.2,
    ease: "power2.out"
});
setTimeout(()=>{ 
  //  document.querySelector('.loading').style.display = 'none'
  //  document.querySelector('.content').style.display = 'block'
//   gsap.to(".letter", {
//     opacity: 1,
//     y: 0,
//     stagger: 0.05,
//     duration: 0.2,
//     ease: "power2.out"
// });
  document.querySelector('.loading').classList.add('hidden')
  document.querySelector('.container').style.display = 'block'
  setTimeout(() => {
     document.querySelector('.loading').style.display = "none";
  }, 1000);

  
},2000);

    </script>
</body>
</html>
